@import url('https://fonts.googleapis.com/css?family=Khula:400,700');
* {
	box-sizing: border-box;
}
body {
	font-family: 'Khula', sans-serif;
	margin: 0;
	padding: 0;
}

main {
	width: 100%;
	padding: 0;
}
video {
	width: 640px;
	margin: 0 auto;
}
.p-wrap {
	width: 100%;
	padding: 0 50px;
}
.p-wrap p {
	margin: 0 auto;
	font-size: 1.3em;
}

.video {
	width:80%;
	max-width: 640px;
	margin: 0 auto;
}